<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Hakkımızda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center text-center>
        <h2>Statik <strong style="color: #0088cc">Yazılım</strong> Hakkında</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center>
        <h5>
          2013 yılından bu yana internet tabanlı yazılım sektöründe hizmet
          vermekte olan Statik Yazılım, İzmir merkezli bir kuruluş olup
          ağırlıklı Ege bölgesi olmak üzere tüm Türkiye geneline hizmet
          vermektedir.
        </h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center>
        <img
          width="300"
          height="211"
          src="https://statikyazilim.com.tr/img/hakkimizda.jpg"
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <p>
          Yaptığı ilk yazılımın bugün bile arkasında durarak destek sağlayan
          firmamız için en önemli olgu iş tesliminde ve sonrasında yüzü gülen
          müşteriler olmuştur. Referansların özellikle hizmet sektöründe olan
          bir firma için önemini tam olarak kavrayan Statik Yazılım,
          müşterilerinin tüm isteklerine çok kısa sürelerde cevaplar vererek
          çözüme ulaşmasını sağlamayı, yaptığı işlerin en küçüğünden en büyüğüne
          kadar aynı değer ve önemi vererek başarılı ve stabil yazılımlar
          oluşturmayı tek hedefi haline getirmiştir.
        </p>
        <p>
          40’tan fazla memnun müşteri ile web tabanlı yazılım sektöründeki
          başarısını kanıtlayan firmamız her geçen gün müşteri portföyünü
          genişleterek farklı iş kollarından birçok yeni müşteriyi bünyesine
          katmaya devam etmektedir.
        </p>
        <p>
          Farklı sektördeki birçok firmayla çalışma tecrübelerimizi kullanarak
          sektöre yeni girmiş müşterilerimize internet ve yazılım alanındaki
          tecrübelerimizi aktararak zorlu başlangıç süreçlerinin yükünü
          hafifletmeye çalışmaktayız.
        </p>
        <p>Bizi farklı kılan yönlerimiz;</p>
        <p>• Özel proje geliştirmek</p>
        <p>• Memnuniyet odaklı çalışmak</p>
        <p>• Tüm hizmetlerimizi kendi bünyemizde sunmak</p>
        <p>• Hizmet çeşitliliği</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
