<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tasarım</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content id="content">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center text-center>
        <h4>Reklamcılık ve <strong>Matbaa Hizmetleri</strong></h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center>
        <img
          width="250"
          height="200"
          src="https://statikyazilim.com.tr/img/hizmetlerimiz/reklamcilik-matbaa.jpg"
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <p>
          Firmanız için ihtiyaç duyduğunuz tüm tasarımsal ve baskı ürünlerinin
          temin edilmesi için bize güvenebilirsiniz. Güçlü ve tecrübeli tasarım
          kadromuz ile sizlerin mutlu olacağı başarılı tasarımlar
          oluşturmaktayız. Fason üretimde yaşanan problemlerin önüne geçmek için
          kendi bünyemizdeki üretim atölyemizde firmalara problemler yaşatmak
          yerine hızlı bir şekilde arzu ettikleri hizmetleri sağlıyoruz.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" class="list">
        <p>
          <strong>Hizmetlerimizin detayı;</strong>
        </p>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Dijital baskı
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Araç giydirme
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Tabela hizmetleri
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Totem
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Kutu harf
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Fuar stand
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Matbaa hizmetleri
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Display yönlendirme
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Promosyon ürünler
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Metin yazarlığı
            </span>
          </ion-label>
        </ion-item>
        <p>
          Hizmetlerimiz hakkında örnek görseller ve daha detaylı bilgi için
          lütfen bize ulaşınız.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
