<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Misyonumuz / Vizyonumuz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center>
        <h2>Statik Yazılım'ın <strong>Misyonu/Vizyonu</strong></h2>
      </ion-col>
    </ion-row>
    <ion-card>
      <ion-card-header>
        <ion-card-title style="color:#0088cc">Misyonumuz</ion-card-title>
      </ion-card-header>
      <ion-card-content
        >Bizlere şirketlerinin internet dünyasındaki vitrinlerini emanet
        edenlere en son yenilikler ışığında hızlı, karlı, güvenli ve etkin
        çözümler sunabilmektir. Ürün ve hizmet kalitemizi sürekli geliştirerek
        müşteri talep ve beklentilerini en üst seviyede karşılamak, Güçlü bir
        iletişim ile müşterilerimizle aramızda duygusal bir bağ yaratmak ve
        müşteri sadakatini sağlamak, rekabet gücümüzü ve kârlılığımızı arttırmak
        adına kaliteli hizmet sunmaktır.</ion-card-content
      >
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title style="color:#0088cc">Vizyonumuz</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Konusunda uzman ve tecrübeli kadromuzla bilgi teknolojileri alanında
        yenilikçi, dürüst, memnuniyete önem veren ve çoğu kesim tarafından
        basite indirgenen hizmet alanlarımızın önemini kanıtlayan bir firma
        olmak. Yazlım ve tasarım sektöründe mutlu ettiği müşterilerle önce
        İzmir’in, daha sonra da Türkiye’nin yenilikçi, mükemmelliği arayan,
        saygın ve lider firması olabilmektir.
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
