<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Banka Hesap Bilgileri</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center text-center>
        <h2>Banka <strong>Hesaplarımız</strong></h2>
      </ion-col>
    </ion-row>
    <ion-card>
      <img src="https://statikyazilim.com.tr/img/isbank.png" />
      <ion-card-content text-center>
        <p class="lead"><strong>Sercan GÜLGEZE - STATİK YAZILIM</strong></p>
        <p class="lead"><strong>İş Bankası Manavkuyu Şubesi / İZMİR</strong></p>
        <p class="lead"><strong>Şube Kodu: 3387 Hesap No: 119330</strong></p>
        <p class="lead">
          <strong>IBAN: TR79 0006 4000 0013 3870 1193 30</strong>
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="https://statikyazilim.com.tr/img/garantibankasi.png" />
      <ion-card-content text-center>
        <p class="lead"><strong>Sercan GÜLGEZE - STATİK YAZILIM</strong></p>
        <p class="lead">
          <strong>Garanti Bankası 2.Sanayi Sitesi Şubesi / İZMİR</strong>
        </p>
        <p class="lead"><strong>Şube Kodu: 568 Hesap No: 6296677</strong></p>
        <p class="lead">
          <strong>IBAN: TR86 0006 2000 5680 0006 2966 77</strong>
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="https://statikyazilim.com.tr/img/finansbankasi.png" />
      <ion-card-content text-center>
        <p class="lead"><strong>Sercan GÜLGEZE - STATİK YAZILIM</strong></p>
        <p class="lead"><strong>Şube Kodu: 03663 Hesap No: 73246669</strong></p>
        <p class="lead">
          <strong>IBAN: TR32 0011 1000 0000 0073 2466 69</strong>
        </p>
      </ion-card-content>
    </ion-card>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center text-center>
        <img src="https://statikyazilim.com.tr/img/card.png" alt="" />
        <p><strong>Bütün kartlar geçerlidir.</strong></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
