<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Kurumsal-Kimlik</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center text-center>
        <h4>Kurumsal <strong>Kimlik Tasarımı ve Baskı Çalışmaları</strong></h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center>
        <img
          width="250"
          height="200"
          src="https://statikyazilim.com.tr/img/hizmetlerimiz/kurumsal-kimlik-tas.jpg"
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <p>
          Statik Yazılım, firmanızı tanıyıp anlayarak sizin ihtiyaç duyduğunuz
          logoyu, firmanızın tüm değerleri, ihtiyaçları ve yaptıklarını göz
          önünde bulundurarak tasarlar. Logo tasarımının ardından firmanızın tüm
          kurumsal kimlik materyalleri bu logoya göre şekillendirilir.
        </p>
        <p>
          Tasarım için müşteriden alınan brief doğrultusunda şirkete dair
          bilgiler toplanır. Firmanın kimlerle çalıştığı hangi sektörde hizmet
          verdiği araştırılır. Rakiplerinin verdiği hizmetler ve sunum şekilleri
          incelenir.
        </p>
        <p>
          Ön çalışma sonrasında, alınan bilgilerden faydalanılarak şirketin
          kişiliği oluşturulur ve sonraki sürecin tasarımı bu kişilik üstünden
          gerçekleştirilir. Hazırlanan logo tasarımına uygun kurumsal kimlik
          oturtulur. Logo ve kurumsal kimlik, yapılan toplantıların ardından
          oluşturulmuş firma kişiliğine uygun ve tutarlı bir şekilde
          oluşturulur.
        </p>
        <p>
          Oluşturulan kurumsal kimlik tasarımı, kapsamlı bir sunumla beraber
          müşteriye anlatılır. İhtiyaç duyulan revizelerin ardından kurumsal
          kimlik ve logo çalışması müşteriye teslim edilir.
        </p>
        <p>
          Dijital baskı olarak bilinen firmaların genel ihtiyacı olan birçok
          ürünün kurumsal kimlik yapısına uygun olarak tasarlanmasını ve
          basılmasını sağlıyoruz. Kartvizit, zarf, kaşe, cepli dosya, antetli
          kağıt, broşür, araç giydirme gibi birçok gereksinimi tek elden
          sağlayarak firmanın iş yükünü azaltıyoruz.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
