<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>E-ticaret</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center text-center>
        <h4 style="color: #0088cc">
          Kurumsal
          <strong>Web Sitesi ve Tasarımı</strong>
        </h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center>
        <img
          width="250"
          height="200"
          src="https://statikyazilim.com.tr/img/hizmetlerimiz/kurumsal-web-sitesi.jpg"
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ul id="skills-list">
          <li>
            <i class="fas fa-check-square"></i> I aim to implement modern
            technologies into my projects using a movile first approach.
          </li>
          <li>
            <i class="fas fa-check-square"></i> Exposing myself to GIT allows me
            to track, comment and update my project in a team repository.
          </li>
          <li>
            <i class="fas fa-check-square"></i> Working with BOOTSTRAP
            frameworks allows implementation of elegant and modern design.
          </li>
          <li>
            <i class="fas fa-check-square"></i> Learning SASS allowed me to
            speed up my web design process, creating fast and efficient CSS3.
          </li>
          <li>
            <i class="fas fa-check-square"></i> Basic Understanding of
            JavaScript and JQuery means that I understand the process of DOM
            Manipulation.
          </li>
          <li>
            <i class="fas fa-check-square"></i> My previous background is in
            Animation, providing me with a good eye for detail and creativity.
          </li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
