<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>E-ticaret</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center text-center>
        <h4>E-ticaret <strong>Sistemleri</strong></h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center>
        <img
          width="250"
          height="200"
          src="https://statikyazilim.com.tr/img/hizmetlerimiz/e-ticaret.jpg"
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <p>
          Yaşadığımız günlerde teknoloji günlük yaşamımızı etkilemenin dışında
          artık iş ve ekonomik yaşamımızın da tamamı ile içine girmiş ve tüm iş
          sektörlerini yeniden yapılandırmaya zorlamış bulunmaktadır. E-ticaret
          kavramı bunların başında gelmektedir, sizde en ekonomik şekilde
          ürünlerinizi satıp, reklamınızı yapmak ve para kazanmak istiyorsanız
          Statik Yazılım olarak sizinle görüşüp, tüm ihtiyaçlarınızı belirleyip,
          size özel olan e-ticaret sistemini belirliyoruz.
        </p>
        <p><strong>E-ticaret Sistemi Oluşturma Adımları:</strong></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" class="list">
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              <strong>Keşfetmek: </strong> Sizi dinleyip tam olarak ihtiyacınızı
              belirliyor ve ardından oluşturduğumuz raporu sizlere sunuyoruz.
              Gerekli tüm ön çalışma tamamlandıktan sonra işlemlere başlıyoruz.
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              <strong>Analiz Ediyoruz: </strong> Satış yapmak istediğiniz
              sektörün analizini çıkartıyor, müşteri portföyünüzü ve
              müşterilerinizin olabilecek talep ve beklentilerini gözetiyoruz,
              rakiplerinizin bu alanda neler yaptığını ve eksiklerini
              belirliyoruz. Ardından sizi birkaç adım öne çıkartacak şekilde
              farklılıklar oluşturarak bu fikirleri sizinle paylaşıyoruz.
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              <strong>Tasarım Aşaması: </strong> Oluşturduğumuz ön raporlara ve
              planlamamıza göre taslak çalışmalarını tamamlayıp sizin onayınıza
              sunarız.
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              <strong>Yazılım ve Test Aşamaları: </strong> Belirlenen tasarımın
              üzerine gerekli yazılımlar ile sistemi tamamlayıp sonrasında
              sistem için gerekli SSL(güvenlik sertifikası) ve Ödeme sistemleri
              ile entegrasyonunu sağlayıp en son olarak test işlemlerini
              gerçekleştirip yayına geçerek sizlere teslim ediyoruz.
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              <strong>Panel Eğitimi: </strong> E-ticaret sisteminize ürün
              ekleyip çıkartmak ve satış işlemlerini yapmanız için gerekli olan
              sistem panelinin eğitimini sizlere ücretsiz olarak veriyoruz.
              Belirlenen kritik noktalar için panel eğitim videoları
              hazırlayarak daha sonra takıldığınız noktada izleyerek kolay bir
              çözüme ulaşmanızı sağlıyoruz.
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              <strong>Bakım ve Güncelleme Hizmeti: </strong> Sisteminizi size
              teslim ettikten sonra herhangi oluşacak bir hatada veya ekletmek
              istediğiniz bir özellik olduğunda sizin yanınızdayız. Sistemin
              güncel kalması için gerekli tüm güncellemeleri ve yedekleme
              işlemlerini sizin için gerçekleştiriyoruz.
            </span>
          </ion-label>
        </ion-item>
        <p>
          Bir mağaza açıp ürünlerinizi sergileyerek satış yapmanın gerektiğinde
          fazla maliyetli olmasından dolayı(kira, vergiler, personel maaşı,
          personel sigortası vb.) ticaret yapma adımını atma konusunda
          yaşadığınız tüm tedirginlikler E-ticaret sistemleri ile ortadan
          kalkıyor. En düşük masraflar ile güvenilir bir ödeme sistemiyle sizde
          ürünlerinizi satıp kazanmaya başlayabilirsiniz.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
