<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sosyal Medya Yöneticiliği</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center text-center>
        <h4>Sosyal <strong>Medya</strong></h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center>
        <img
          width="200"
          height="200"
          src="https://statikyazilim.com.tr/img/hizmetlerimiz/sosyal-medya.jpg"
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <p>
          Sosyal medya yöneticimiz, kısıtlı veri ve argümanlarla firmanıza
          sosyal medya platformlarında maksimum fayda sağlayabilecek içerikler
          üreterek bunları sizin müşteri portföyünüze uygun bir şekilde firmanız
          adına açılan sosyal medya hesaplarında paylaşımlar yaparak firmanızın
          güvenilirliğini yükseltir.
        </p>
        <p>
          Dijital pazarda popüler tüm platformlarda aktif bir firmanızın olması
          size marka bilinirliği olarak büyük katkı sağlamaktadır. İnternet
          reklamcılığının başarılı olabilmesi için reklam verilecek platformları
          firma olarak aktif kullanmanız gerekmektedir. Gerek özel günler gerek
          yeni ürün tanıtımları için en ucuz ve en etkili reklamcılık yöntemi
          haline gelen internet firmaların para kaybetmeden çok daha fazla
          potansiyel müşteriye ulaşmasını sağlar.
        </p>
        <p>
          Araştırmalara göre, pazarlama sektörünün yüzde 93’ü markalarının
          tanıtımı için “Facebook”, “Instagram”, “Twitter”ve “Google+”
          platformlarını kullanıyor. İşinin uzmanı sosyal medya yöneticimiz
          tarafından tüm içerik girişleriniz ve paylaşım stratejiniz
          oluşturularak tüm platformlarda aktif olmanız sağlanacaktır.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" class="list">
        <p>
          <strong>Genel olarak kullanılan sosyal medya platformları;</strong>
        </p>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Facebook
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Instagram
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Twitter
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Google+
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Pinterest
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Tumblr
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Swarm
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Foursquare
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Youtube
            </span>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
