<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ozel-Yazılım</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center text-center>
        <h4>Özel Yazılım <strong>Sistemleri</strong></h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center>
        <img
          width="250"
          height="200"
          src="https://statikyazilim.com.tr/img/hizmetlerimiz/ozel-yazilim.jpg"
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <p>
          Firmanızın organizasyon ve yönetim hedef stratejilerine göre hazır
          kalıplar üzerine oturtulmuş paket programlar şeklinde satışa sunulan
          yazılımlar size uygun olmayabilir. Bu şekilde paket program
          kullanımında yaşanan sıkıntıların bazıları şunlardır;
        </p>
        <p>
          • Satın aldığınız ya da kiraladığınız paket yazılım sizin istediğiniz
          fonksiyonlara sahip olmayabilir ve sizin işleyişinizi hızlandırmak
          yerine daha fazla zaman kaybına neden olabilmektedir.
        </p>
        <p>
          • Satın aldığınız ya da kiraladığınız paket yazılım sizin asla
          kullanmayacağınız birçok özelliğe sahiptir ve siz bu kullanmayacağınız
          özellikler için fazladan para ödemek zorunda kalırsınız ve maddi
          kayıplar yaşarsınız.
        </p>
        <p>
          • Programın menüsü sizin ihtiyacınızdan farklı olabileceği için
          kullanım zorluğu yaşar ve zaman kaybedersiniz.
        </p>
        <p>
          Sizlere sağlayacağımız size özel tasarlanmış yazılımlar ile tam olarak
          sizin firmanızın ve sizin ihtiyaçlarınızın cevabını vermiş olacağız.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" class="list">
        <p>
          <strong
            >Özel yazılım çözümleri olarak belirli aşamalardan geçerek
            yazılımınızı oluşturmaya başlarız;</strong
          >
        </p>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Firma ve ihtiyaç analizi
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Analiz sonrası oluşturulan tam yazılım algoritması
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Yazılımın aşamalarını ve fonksiyonlarını anlaşılabilir bir şekilde
              şematik olarak raporlanması
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Tasarım çalışması
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Kodlama ve sistemleştirme aşaması
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Oluşan yazılımın sizler ile birlikte test edilmesi
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Yazılımın teslim edilip kullanımı ile ilgili eğitim verilmesi
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Sürekli ve etkin destek sağlanması
            </span>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
