<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Kurumsal-Web</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content id="content">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center text-center>
        <h4 style="color: #0088cc">
          Kurumsal
          <strong>Web Sitesi ve Tasarımı</strong>
        </h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center>
        <img
          width="250"
          height="200"
          src="https://statikyazilim.com.tr/img/hizmetlerimiz/kurumsal-web-sitesi.jpg"
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <p>
          Kurumsal işletmeler için günümüzde oldukça fazla önem kazanmaya
          başlayan web siteleri, web tasarım ve web yazılımın birleşmesi ile
          oluşturulurlar. İnsanlar almak istedikleri ürün ve hizmetleri
          internetten araştırarak bilgi edinerek temin ediyorlar, bunların
          başında Google aramaları geliyor bu yüzden yaptığımız çalışmaların
          hepsinde Google’ın sevdiği tarzda kodlamalar yapıyoruz.
        </p>
        <p>
          Oluşturulmuş kurumsal ve mobil uyumlu bir web sayfasının firmalara
          kattığı en büyük katkı müşteri ile firma arasındaki güven duygusunu
          güçlendirmesidir, modern görünüme sahip bir web sayfası olan
          firmaların müşterilerinin gözünde daha kaliteli bir firma imajı
          oluşturmaktadır.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ul>
          <li>Müşterinin iş alanlarının araştırılması</li>
          <li>
            Müşterinin ihtiyaç ve amaçlarının belirlenmesinin ardından
            raporlanması
          </li>
          <li>Proje için bir iş planı oluşturulur</li>
          <li>Oluşturulan rapor ve iş planı ile fiyat teklifi sunulur</li>
          <li>
            Müşteriden iş ile ilgili verilerin talep edilmesi ve toplanması
          </li>
          <li>Genel tasarım oluşturulması</li>
          <li>Kod altyapısının tamamlanması</li>
          <li>Kurumsal mail adreslerinin aktif edilmesi</li>
          <li>Tasarım ile kodlamanın birleştirilmesi</li>
          <li>Sosyal medya hesaplarının oluşturulması</li>
          <li>
            Veri girişlerinin yapılmasının ardından sistemin test edilmesi
          </li>
          <li>Müşterinin onaylaması</li>
          <li>Yayına geçilmesi</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <p>
          <strong>Kurumsal bir web sitesinin sağladığı hizmetler;</strong>
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ul>
          <li>Google SEO uyumlu web sayfaları</li>
          <li>
            Responsive sistemler ile tüm mobil cihazlarda hatasız görüntüleme
          </li>
          <li>Kurumsal kimliğinize uygun tasarım ve işlev</li>
          <li>Firma tanıtım web siteleri</li>
          <li>
            Hizmet tanıtım odaklı web siteleri
          </li>
          <li>Ürün tanıtım odaklı web siteleri</li>
          <li>Sosyal medya danışmanlığı ve yöneticiliği</li>
          <li>Google maps hizmeti</li>
          <li>
            Google business hesabının açılıp, onaylı bir firma olmanız
            sağlanıyor
          </li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <p>
          Size uygun yazılım paketlerimizden tercih edebilir veya sizinle
          yaptığımız görüşmede tam sizin ihtiyacınız olan sistemi birlikte
          yaratabiliriz, böylece cebinizden ihtiyacınız olmayan sistemler için
          fazlasının çıkmasını önleriz.
        </p>
        <p>
          Size ulaşıp uygun yazılımı belirleyebilmemiz için lütfen “Teklif
          Formu” bölümünü doldurunuz.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
