<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Kurumsal-Web</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content id="content">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center text-center>
        <h4 style="color: #0088cc">
          Kurumsal
          <strong>Web Sitesi ve Tasarımı</strong>
        </h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center>
        <img
          width="250"
          height="200"
          src="https://statikyazilim.com.tr/img/hizmetlerimiz/kurumsal-web-sitesi.jpg"
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <p>
          Kurumsal işletmeler için günümüzde oldukça fazla önem kazanmaya
          başlayan web siteleri, web tasarım ve web yazılımın birleşmesi ile
          oluşturulurlar. İnsanlar almak istedikleri ürün ve hizmetleri
          internetten araştırarak bilgi edinerek temin ediyorlar, bunların
          başında Google aramaları geliyor bu yüzden yaptığımız çalışmaların
          hepsinde Google’ın sevdiği tarzda kodlamalar yapıyoruz.
        </p>
        <p>
          Oluşturulmuş kurumsal ve mobil uyumlu bir web sayfasının firmalara
          kattığı en büyük katkı müşteri ile firma arasındaki güven duygusunu
          güçlendirmesidir, modern görünüme sahip bir web sayfası olan
          firmaların müşterilerinin gözünde daha kaliteli bir firma imajı
          oluşturmaktadır.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3"> </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <p>
          <strong>Kurumsal bir web sitesinin oluşturulma aşamaları;</strong>
        </p>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Müşterinin iş alanlarının araştırılması
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Müşterinin ihtiyaç ve amaçlarının belirlenmesinin ardından
              raporlanması
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Proje için bir iş planı oluşturulur
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Oluşturulan rapor ve iş planı ile fiyat teklifi sunulur
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Müşteriden iş ile ilgili verilerin talep edilmesi ve toplanması
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Genel tasarım oluşturulması
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Kod altyapısının tamamlanması
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Kurumsal mail adreslerinin aktif edilmesi
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Tasarım ile kodlamanın birleştirilmesi
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Sosyal medya hesaplarının oluşturulması
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Veri girişlerinin yapılmasının ardından sistemin test edilmesi
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Müşterinin onaylaması
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Yayına geçilmesi
            </span>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <p>
          <strong>Kurumsal bir web sitesinin sağladığı hizmetler;</strong>
        </p>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Google SEO uyumlu web sayfaları
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Responsive sistemler ile tüm mobil cihazlarda hatasız görüntüleme
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Kurumsal kimliğinize uygun tasarım ve işlev
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Firma tanıtım web siteleri
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Hizmet tanıtım odaklı web siteleri
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Ürün tanıtım odaklı web siteleri
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Sosyal medya danışmanlığı ve yöneticiliği
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Google maps hizmeti
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Google business hesabının açılıp, onaylı bir firma olmanız
              sağlanıyor
            </span>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <p>
          Size uygun yazılım paketlerimizden tercih edebilir veya sizinle
          yaptığımız görüşmede tam sizin ihtiyacınız olan sistemi birlikte
          yaratabiliriz, böylece cebinizden ihtiyacınız olmayan sistemler için
          fazlasının çıkmasını önleriz.
        </p>
        <p>
          Size ulaşıp uygun yazılımı belirleyebilmemiz için lütfen “Teklif
          Formu” bölümünü doldurunuz.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
