<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Internet-Reklam</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center text-center>
        <h4>
          <strong>İnternet</strong> ve
          <strong>Sosyal Medya </strong>Reklamcılığı
        </h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center>
        <img
          width="250"
          height="200"
          src="https://statikyazilim.com.tr/img/hizmetlerimiz/internet-reklamciligi.jpg"
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <p>
          İnternet reklamcılığı günümüzün en popüler reklamcılık türü haline
          gelmiştir, firmanız adına verdiğiniz reklamlar için konum
          belirleyebilir, kişi özelliklerini seçebilir ve daha birçok filtreleme
          yapabilirsiniz. Böylece vermiş olduğunuz reklam direkt olarak sizin
          müşteri portföyünüze gözükecektir.
        </p>
        <p>
          İnternet reklamcılığı hem firma tanıtımlarında hem de ürün
          satışlarında firma ve işletmelere tam destek vermektedir. Marka
          bilinirliğinizi ve satacağınız ürünlerde müşteriye sağladığınız
          tanıtım avantajları ile fayda sağlamaktadır.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" class="list">
        <p>
          <strong>Ağırlıklı kullanılan internet reklamcılığı türleri;</strong>
        </p>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Google Adwords / Google SEM (Ücretli Sıralamada Yükselme)
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Google SEO (Organik Sıralamada Yükselme)
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Facebook Sponsor Reklamları
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Instagram Sponsor Reklamları
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Twitter Sponsor Reklamları
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            <i class="fas fa-check-circle color-blue"></i>
            <span class="label-text">
              Youtube Sponsor Reklamları
            </span>
          </ion-label>
        </ion-item>
        <p>
          Görüşmemiz sonrasında sizin işiniz için uygun olabilecek internet
          reklamcılığı paketlerini size rapor olarak sunuyoruz. Sizin tercih
          ettiğiniz platformlarda sizin adınıza tüm reklamcılık isteklerinizi
          karşılıyoruz.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
