<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mobil Uygulama</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center text-center>
        <h4>Sosyal <strong>Uygulama</strong></h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center>
        <img
          width="200"
          height="200"
          src="https://statikyazilim.com.tr/img/hizmetlerimiz/mobil-uygulama.jpg"
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <p>
          Farklı proje ve ihtiyaçlarınıza yönelik özel yazılımlar ile firmanıza
          ve size özel mobil uygulamalar geliştiriyoruz. Geliştirdiğimiz mobil
          uygulamalar ve stratejilerle pazarlamadaki gücünüzün ve sunmuş
          olduğunuz hizmetin kalitesinin artmasını sağlamaktayız.
        </p>
        <p>
          Native mobil programlama ve Hybrid mobil programlama seçenekleri
          sunarak size gerekenden fazlasını ödemeden bir mobil uygulama sahibi
          yapıyoruz. Prestij olarak firmanızı birkaç adım öne çıkaracak olan
          mobil markette bulunma olgusu firmanızı güçlendirerek teknolojiye çok
          yakın bir firma haline gelmenizi sağlıyor.
        </p>
        <p>
          Google “Android” ve Apple “IOS” işletim sistemleri için “Google Play
          Store” ve “App Store” marketlerinde yerinizi almak çok basit.
          İşletmenizin ihtiyaçlarını belirleyip, pazarlama stratejileriniz
          doğrultusunda sizin ihtiyacınız olan uygulamayı sizler için tasarlayıp
          geliştiriyoruz.
        </p>
        <p>
          Amacımız içeriklerinizi müşteri ve takipçilerinize en hızlı biçimde
          sunmanızı sağlamak ve şirket içi yazılım ihtiyaçlarınızı masa başına
          bağlı kalmadan karşılayabilmenizi sağlamaktır. Size zaman kazandıracak
          çözümler sunarak, kazandığınız bu zamanı daha verimli işlerinizde
          kullanabilmenizi hedefliyoruz.
        </p>
        <p>
          İnsanlar artık her şeye hızla ve kolaylıkla ulaşma çabasında. Bu
          sürekli artan ihtiyaçlar yatırımcılar için büyük bir pazarın habercisi
          olmaktan çıktı ve bugün çok ama çok büyük bir pazar haline geldi.
          <strong
            >Bu yazıyı okuyan ve telefonunda en az 10 mobil uygulama olmayan var
            mı?</strong
          >
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
