<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sosyal Medya</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content id="content">
  <ion-grid>
    <ion-row>
      <ion-col size-md="3" offset-md="3" class="boxes">
        <article class="timeline-box">
          <a
            href="https://www.facebook.com/statikyazilim/"
            target="_blank"
            class="thumb-info"
          >
            <img
              src="https://statikyazilim.com.tr/img/facebook.png"
              alt
              width="120"
              height="120"
            />
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Facebook</span>
            </span>
          </a>
        </article>
      </ion-col>
      <ion-col class="boxes">
        <article class="timeline-box">
          <a
            href="https://www.instagram.com/statikyazilim/"
            target="_blank"
            class="thumb-info"
          >
            <img
              src="https://statikyazilim.com.tr/img/instagram.png"
              alt
              width="120"
              height="120"
            />
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Instagram</span>
            </span>
          </a>
        </article>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="3" offset-md="3" class="boxes">
        <article class="timeline-box">
          <a
            href="https://twitter.com/statikyazilim"
            target="_blank"
            class="thumb-info"
          >
            <img
              src="https://statikyazilim.com.tr/img/twitter.png"
              alt
              width="120"
              height="120"
            />
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Twitter</span>
            </span>
          </a>
        </article>
      </ion-col>
      <ion-col class="boxes">
        <article class="timeline-box">
          <a
            href="https://www.youtube.com/channel/UCTt8dUSzbRYLhmGGndFgTZQ/"
            target="_blank"
            class="thumb-info"
          >
            <img
              src="https://statikyazilim.com.tr/img/youtube.png"
              alt
              width="120"
              height="120"
            />
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Youtube</span>
            </span>
          </a>
        </article>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="3" offset-md="3" class="boxes">
        <article class="timeline-box">
          <a
            href="https://www.linkedin.com/company/statikyaz%C4%B1l%C4%B1m/about/"
            target="_blank"
            class="thumb-info"
          >
            <img
              src="https://statikyazilim.com.tr/img/linkedin.png"
              alt
              width="120"
              height="120"
            />
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Linkedin</span>
            </span>
          </a>
        </article>
      </ion-col>
      <ion-col class="boxes">
        <article class="timeline-box">
          <a
            href="https://www.flickr.com/photos/149743452@N05/"
            target="_blank"
            class="thumb-info"
          >
            <img
              src="https://statikyazilim.com.tr/img/flickr.png"
              alt
              width="120"
              height="120"
            />
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Flickr</span>
            </span>
          </a>
        </article>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="3" offset-md="3" class="boxes">
        <article class="timeline-box">
          <a
            href="https://tr.foursquare.com/v/statik-yaz%C4%B1l%C4%B1m/58988be58ae36338509431cb"
            target="_blank"
            class="thumb-info"
          >
            <img
              src="https://statikyazilim.com.tr/img/foursquare.png"
              alt
              width="120"
              height="120"
            />
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Foursquare</span>
            </span>
          </a>
        </article>
      </ion-col>
      <ion-col class="boxes">
        <article class="timeline-box">
          <a
            href="https://tr.pinterest.com/statikyazilim/"
            target="_blank"
            class="thumb-info"
          >
            <img
              src="https://statikyazilim.com.tr/img/pinterest.png"
              alt
              width="120"
              height="120"
            />
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Pinterest</span>
            </span>
          </a>
        </article>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="3" offset-md="3" class="boxes">
        <article class="timeline-box">
          <a
            href="https://vimeo.com/statikyazilim"
            target="_blank"
            class="thumb-info"
          >
            <img
              src="https://statikyazilim.com.tr/img/vimeo.png"
              alt
              width="120"
              height="120"
            />
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Vimeo</span>
            </span>
          </a>
        </article>
      </ion-col>
      <ion-col class="boxes">
        <article class="timeline-box">
          <a
            href="https://statikyazilim.tumblr.com/"
            target="_blank"
            class="thumb-info"
          >
            <img
              src="https://statikyazilim.com.tr/img/tumblr.png"
              alt
              width="120"
              height="120"
            />
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Tumblr</span>
            </span>
          </a>
        </article>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
