// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
#content {
  color: #777777;
  font-family: "Open Sans", Arial, sans-serif;
}

ion-title {
  font-family: "Open Sans", Arial, sans-serif;
}

h5 {
  color: #0088cc;
  font-size: 1.4em;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 27px;
  margin: 0 0 14px 0;
}

p {
  color: #777777;
  line-height: 24px;
  margin: 0 0 20px;
}
.item-inner {
  border: 0 !important;
}
