<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Domain-Hosting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center text-center>
        <h4>
          Domain Tescil Hizmeti<br />
          <strong style="color: #0088cc">Hosting Alan Sağlama Hizmeti</strong>
        </h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center>
        <img
          width="250"
          height="200"
          src="https://statikyazilim.com.tr/img/hizmetlerimiz/domain.jpg"
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <p>
          Domain bir web sitesinin ismidir. İnternet tarayıcılarının adres
          çubuğuna bu isimler yazılarak sitelere giriş yapılır. Aslında sitelere
          ip adresleriyle de bağlanılabilir. Fakat ip adreslerini akılda tutmak
          zordur. Bu nedenle domainler yani alan adları kullanılır. .Com, .net,
          .biz, .org en çok tercih edilen uzantılardır.
        </p>
        <p>
          Domain (Alan adı) ve Hosting (İnternet alanı) hizmetimiz ile
          markanızın ismi ile aynı bir domain’e sahip olarak, internette
          kullanacağınız sistemin barınması için gerekli hosting’e sahip
          oluyorsunuz.
        </p>
        <p>
          Firma olarak tescilli bir markaya sahip iseniz ODTU onaylı (.TR)
          uzantılı bir domain adresine sahip olmanız için gerekli yazışma ve
          evrak işlerini yapıyoruz.
        </p>
        <p>
          Dünya genelindeki internet prosedürlerine göre alan adları satın
          alınamazlar, asgari bir yıl olmak üzere belirli bir kullanım süresi
          için tescil edilebilirler. Alan adınızı tescil süresi bitiminde
          yenilemediğiniz takdirde alan adınızı bir başkası tescil edebilir. Biz
          bu işlemleri sizin adınıza takip edip süreçlerde sizlere
          bilgilendiriyor ve onaylamanız halinde süreleri uzatıyoruz.
        </p>
        <p>
          Türkiye merkezli kullandığımız server ile sisteminiz kısa aralıklarla
          yedeklenerek veri kaybetmenizin önüne geçiyoruz. Kompleks sistemler
          için Amerika ve Kıbrıs merkezli server paketlerimizden de
          yararlanmanızı sağlıyoruz.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
